---
import BaseLayout from '../layouts/base-layout.astro';
---

<BaseLayout title="contacts">
	<section class="my-4 space-y-4">
		<h1 class="text-3xl font-bold">Contacts</h1>
		<p class="text-slate-500 dark:text-slate-400">
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita
			reprehenderit recusandae dolor laboriosam hic harum. Eligendi commodi
			dolorem corrupti sit cum suscipit doloribus eius pariatur omnis! Commodi
			voluptatum harum aut.
		</p>
	</section>
</BaseLayout>
