---
import BaseLayout from '../layouts/base-layout.astro';
---

<BaseLayout title="home">
	<h1>aerysh</h1>
	<p>lorem ipsum dolor sit amet</p>
	<h2>about</h2>
	<p>
		lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
		repudiandae, consequuntur minima corrupti et nemo beatae, id cumque tempora
		dignissimos sequi illo, placeat quis perspiciatis iste pariatur obcaecati
		explicabo. Numquam.
	</p>
	<p>
		lorem ipsum dolor sit amet consectetur adipisicing elit. Eum rem sapiente
		architecto excepturi. Quibusdam sit optio, obcaecati, ab ipsam, architecto
		vel facilis repellendus quo reiciendis fugiat nisi cumque velit? Quas?
	</p>
</BaseLayout>
