---

---

<header>
	<nav class="mx-auto flex h-16 items-center" transition:persist>
		<div>
			<div class="flex items-center">
				<a
					href="/"
					class="whitespace-nowrap text-xl font-semibold dark:text-white"
					>aerysh</a
				>
			</div>
		</div>
		<ul class="flex flex-1 items-center justify-end gap-4">
			<li>
				<a
					href="/posts"
					class="text-slate-900 hover:text-blue-700 dark:text-white dark:hover:text-blue-500"
					>posts</a
				>
			</li>
		</ul>
	</nav>
</header>
