---
import { menuLinks } from '../site.config.ts';

const pathname = new URL(Astro.request.url).pathname;
---

<header class="w-full md:hidden">
	<ul class="flex list-none flex-row justify-center gap-4">
		{
			menuLinks.map((link) => (
				<li>
					<a
						href={link.path}
						class={pathname === link.path ? 'text-slate-800' : 'text-slate-500'}
					>
						{link.title}
					</a>
				</li>
			))
		}
	</ul>
</header>
