---
import { menuLinks } from '../site.config.ts';
import { Icon } from 'astro-icon/components';

const pathname = new URL(Astro.request.url).pathname;
---

<div class="hidden h-full w-1/4 gap-4 p-4 md:block">
	<h1 class="text-2xl">
		<a href="/" class="hover:underline focus:underline">aerysh</a>
	</h1>
	<ul class="flex list-none flex-row gap-2 py-2">
		<li>
			<a href="https://github.com/Aerysh" target="_blank" title="GitHub">
				<Icon name="mdi:github" />
			</a>
		</li>
		<li>
			<a href="https://twitter.com/aerysh_" target="_blank" title="Twitter">
				<Icon name="mdi:twitter" />
			</a>
		</li>
	</ul>
	<ul class="m-0 flex flex-col gap-2 py-4">
		{
			menuLinks.map((link) => (
				<li>
					<a
						href={link.path}
						class={pathname === link.path ? 'text-slate-800' : 'text-slate-500'}
					>
						{link.title}
					</a>
				</li>
			))
		}
	</ul>
</div>
